h1 {
  margin-left: 20px;
  
}

body {
  font-family: 'DM Sans', sans-serif;
  font-family: 'Space Grotesk', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

a {
  font-weight: bolder;
  color: rgb(254, 189, 128);
}

.sticky-header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: white;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.header-left {
  display: flex;
  align-items: center;
  gap: 10px; /* Adjust spacing between elements */
}

.header-right p {
  margin: 0;
  font-size: 12px; 
}


.landing {
  background-image: url('./images/Capture d’écran 2023-11-12 à 21.44.07.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative; /* Sets the positioning context for the text */
  padding: 100px 0;
  text-align: center;
  min-height: 400px; /* Adjust as necessary to fit your image */
}

.landing h1 {
  position: absolute;
  left: 50%;
  top: 30%; /* Adjust as needed */
  transform: translate(-50%, -50%);
  color: black; /* Or any color that contrasts well with the background */
  background-color: white;
}

.landing p {
  position: absolute;
  left: 50%;
  top: 40%; /* Adjust as needed */
  transform: translate(-50%, -50%);
  color: black; /* Or any color that contrasts well with the background */
  background-color: white;
}


button {
  font-family: 'DM Sans', sans-serif ;
  background-color: rgba(255, 220, 132, 1);
  border: none;
  padding: 5px 15px;
  cursor: pointer;
}

button:hover {
  background-color: rgba(255, 200, 112, 1);
}


.wave_grid {
  display: flex;
  grid-template-columns: repeat (3, 1fr);
  grid-template-rows: 1;
  gap: 20px;
  padding: 20px;

}

.couvemily {
  grid-column: 1;
  grid-row:1;
  width: 1fr;
}

.python {
  grid-column: 3;
  grid-row: 1
}
  

.wave1{
  grid-column: 1;
  grid-row:1;
  width: 1fr;
}

.wave2
{grid-column: 3;
  grid-row: 1
}


.wrapperindex {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; 
  justify-content: center; 
  margin: 0 auto; 
  padding: 10px; 
}

.project {
  display: inline-block; 
  margin: 10px; 
  text-align: center;
  vertical-align: top; 
  height:70%
}

.project img, .project video {
  max-width: 30%; 
  max-height: 40%; 
  width: auto; 
  height: auto; 
}


.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  padding: 20px;
 
}





.flag1 {
grid-column: 1;
grid-row: 1;
}

.flag2 {
grid-column: 2;
grid-row: 1;
}

.flag3 {
grid-column: 3;
grid-row: 1;
}

.flag4 {
grid-column: 1;
grid-row: 2;
}

.flag5 {
grid-column: 2;
grid-row: 2;
}

.flag6 {
grid-column: 3;
grid-row: 2;
}

.remerciements {
font-size : 20px;
}

.info {
  margin-left: 20px;
}

.wrapperlol {
  display: flex;
}