h1 {
  margin-left: 20px;
  
}

body {
  font-family: 'DM Sans', sans-serif;
  font-family: 'Space Grotesk', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

a {
  font-weight: bolder;
  color: rgb(254, 189, 128);
}

.wrapperindex {
  display: grid;

}

.sticky-header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: white; 
  
}

header {
  font-size: xx-large;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.landing {
  background-color: rgba(255, 220, 132, 1); 
  padding: 100px 0;
  text-align: center;
}

button {
  font-family: 'DM Sans', sans-serif ;
  background-color: rgba(255, 220, 132, 1);
  border: none;
  padding: 5px 15px;
  cursor: pointer;
}

button:hover {
  background-color: rgba(255, 200, 112, 1);
}

img, video {
  height: auto;
  max-width: 100% ;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  padding: 20px;
}
.wave_grid {
  display: flex;
  grid-template-columns: repeat (3, 1fr);
  grid-template-rows: 1;
  gap: 20px;
  padding: 20px;

  }
  .wrapperlol {
    display: flex;
    grid-template-columns: repeat (3, 1fr);
    grid-template-rows: 1;
    gap: 20px;
    padding: 20px;
  
    }
      .couvemily {
        grid-column: 1;
  grid-row:1;
  width: 1fr;
      }

  .python {grid-column: 3;
    grid-row: 1}
  
/*... Rest of the CSS remains unchanged ...*/


/* ... */

.wave1

{grid-column: 1;
  grid-row:1;
  width: 1fr;
  }

.wave2
{grid-column: 3;
  grid-row: 1}

.project {
  width: 50%; 
  max-width: 1000px; 
  margin: 20px auto;
  text-align: center;
  
}

.project img, .project video {
  width: 100%;
  height: auto;
}

/* ... */

.flag1 {
grid-column: 1;
grid-row: 1;
}

.flag2 {
grid-column: 2;
grid-row: 1;
}

.flag3 {
grid-column: 3;
grid-row: 1;
}

.flag4 {
grid-column: 1;
grid-row: 2;
}

.flag5 {
grid-column: 2;
grid-row: 2;
}

.flag6 {
grid-column: 3;
grid-row: 2;
}

.remerciements {
font-size : 20px;
}

.info {
  margin-left: 20px;
}

.wrapperlol {
  display: flex;
}